<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
            <meta charset="UTF-8" />
            <title>Uutiset</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style = "border-spacing: 10px;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Uutiset <span class="sr-only">(current)</span></a>
                    </li>
                 
                    </ul>
                <ul>
                    <li class="nav navbar-nav navbar-right">
                        <a class="nav-link" href="/kirjaudu">Kirjaudu</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div class="jumbotron">
            
            <div class="container">
                <br><br>
                <table style="border-collapse: separate; border-spacing: 10px;">
                    <tr class="jumbotron-heading">
                        <th><h1>Uutiset</h1></th>
                    </tr>
                    <td><div>
                            <a href="/">
                                <form action="/lukujenMukaan">
                                    <input class="btn btn-info" type="submit" value="Järjestä suuruusjärjestyksessä lukukertojen mukaan" />
                                </form>
                            </a>
                        </div></td>
                    <table style="border-collapse: separate; border-spacing: 10px;">
                            <tr class="lead text-muted">
                                <td></td>
                            </tr>
                            <tr th:each="item : ${items}">
                                <td width="500px"> 
                                    <div class="card mb-4 box-shadow" >
                                        <img class="card-img-top" thdata-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="ei kuvaa" style="height: 225px; width: 500px; display: block;" th:src="${item.image}" data-holder-rendered="true">
                                            <div class="card-body">
                                                <h5><a th:href="@{/uutinen/{item}(item=${item.id})}" th:text="${item.name}"></a></h5>
                                                <p class="card-text"th:text="${item.lead}" style="width: 500px;"></p>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <small class="text-muted" th:text="${item.time}"></small>
                                                    </div>
                                            </div>
                                    </div>
                                </td>
                            </tr>
                    </table>
                </table>
            </div>
        </div>
    </body>
</html>
